# Object files
*.axf
*.crf
*.o
*.ko
*.obj
*.elf

# Mapf files
*.map
*.lnp

# Scatter Files
*.sct

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.iex
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.d
*.dep

./Project/STM32F103/Player/MDK-ARM/STM32F103RB_Nucleo/*.*
*.DELL